:root{
    --bg-dark: oklch(0.1 0 63);
    --bg: oklch(0.15 0 63);
    --bg-light: oklch(0.2 0 63);
    --text: oklch(0.96 0 63);
    --text-muted: oklch(0.76 0 63);
    --highlight: oklch(0.5 0 63);
    --border: oklch(0.4 0 63);
    --border-muted: oklch(0.3 0 63);
    --primary: oklch(0.76 0.1 63);
    --secondary: oklch(0.76 0.1 243);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
}

body{
    background-color: var(--bg-dark);
}

div{
    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 700px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px black, 5px 5px 5px black;
}

hr{
    border-color: black;
}

div:hover{
    background-color: var(--bg-light);
    width: 705px;
    height: 155px;
}

.title{
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.muted{
    color: var(--text-muted);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: -25px;
}

.media{
    margin-left: 800px;
    border-radius: 15px;
    border-color: var(--border);
    border-width: 3px;
    border-style: solid;
    width: 250px;
    height: 250px;
}

.audio{
    margin-left: 780px;
}
